<html>
    <head lang="en">
        <title>
            Signup new user
        </title>
        <style>
            label {display: block}        
        </style>
    </head>
    <body>
        <h2>Signup Form</h2>
        <form action="/signup" method="POST">
            <label>Username:
                <input type="text">
            </label>
            <label>Password:
                <input type="password">
            </label>
            <label>Verify password:
                <input type="password">
            </label>
        
            <label>E-mail (optional):
                <input type="text">
            </label>

            <input type="submit">
        </form>
    </body>
</html>